<!DOCTYPE html>
<html>
	<head>
		<title>GariKar</title>
		<link href="/stylesheets/style.css" rel="stylesheet" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
			integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body class="bg-zinc-900 text-white">
		<div class="flex justify-center items-center flex-col">
			<%- include('partials/header')%>

			<div
				class="search h-9 flex gap-0 rounded-md hover:drop-shadow-md active:outline-8 mt-4"
			>
				<input
					class="pl-4 pr-4 pt-2 pb-2 rounded-tl-md rounded-bl-md w-96 border-2 text-zinc-900"
					type="text"
					placeholder="Search Your Gari"
				/>
				<button
					class="button bg-slate-500 pl-4 pr-4 rounded-tr-md rounded-br-md font-bold text-white"
				>
					Search
				</button>
			</div>
			<div class="mt-12 w-10/12 flex justify-between gap-14">
				<!-- Category Section -->
				<div class="bg-white w-64 h-96 rounded-lg flex flex-col left">
					<h1
						class="text-center text-zinc-900 font-bold pt-3 text-lg"
					>
						<i class="fa fa-filter"></i> Category
					</h1>
					<div
						class="items-start pl-4 font-bold mt-4 flex flex-col justify-start gap-y-3 text-left text-zinc-900"
					>
						<button class="p-1 filter-make" data-make="All">
							All
						</button>
						<!-- Add "All" button -->
						<% makes.forEach(make => { %>
						<button
							class="p-1 filter-make"
							data-make="<%= make.name %>"
						>
							<%= make.name %> (<%= make.count %> cars)
						</button>
						<% }) %>
					</div>
				</div>

				<div class="rounded-lg right">
					<div class="flex gap-10 flex-wrap">
						<%cars.forEach( car=> {%>
						<div
							class="card bg-slate-600 w-auto rounded-lg cursor-pointer flex flex-col"
						>
							<div class="w-60 h-52 rounded-tl-lg rounded-tr-lg">
								<img
									class="object-cover h-52 w-60 rounded-tl-lg rounded-tr-lg"
									onclick="window.location.href = '/car/getcar/<%=car._id%>'"
									src="<%=car.image%>"
									alt="<%=car.make%> <%=car.model%>"
								/>
							</div>
							<div
								class="pl-4 pr-5 pt-2 pb-2 flex items-center justify-between"
							>
								<div
									class=""
									onclick="window.location.href = '/car/getcar/<%=car._id%>'"
								>
									<p class="text-white font-semibold">
										<%=car.make%> <%=car.model%>
									</p>
									<p class="text-white font-semibold">
										<%=car.pricePerDay%> PKR
									</p>
								</div>

								
			

								<!-- Flash Message for success add or remove -->

								<div
									id="flash-message"
									class="fixed top-0 left-1/2 transform -translate-x-1/2 py-2 px-3 text-white rounded-lg shadow-lg hidden"
								></div>

								<button
									class="add-to-favorites text-white"
									data-car-id="<%= car._id %>"
									data-in-favorites="<%= car.isFavorite %>"
								>
									<i
										class="fa fa-heart items-end text-3xl <%= car.isFavorite ? 'text-green-500' : 'text-white' %>"
									></i>
								</button>
							</div>
						</div>
						<%})%>
						<%if(flag){%>
							<div
									id="car-name-flash"
									class="fixed top-0 left-1/2 transform -translate-x-1/2 py-2 px-3 text-white rounded-lg shadow-lg bg-green-500 "
								><p>You rented <%=carname%> successfully!</p></div>
							<%}%>
					</div>
				</div>
			</div>
			<%- include('partials/footer')%>

		</div>

		<script src="../javascripts/filterCars.js"></script>
		<script src="../javascripts/favourite.js"></script>
		<script>
			const carFlash = document.getElementById('car-name-flash')
			setTimeout(() => {
				carFlash.classList.add("hidden")
			}, 3000)
		</script>
	</body>
</html>
