<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GariKar</title>
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-zinc-900 text-white">
    <div class="flex justify-center items-center flex-col">
        <%- include('partials/header') %>

        <h1 class="text-4xl sm:text-5xl font-bold text-center mt-10">
            <%= car.make %> <%= car.model %>
        </h1>

        <div class="mt-12 flex flex-col md:flex-row justify-center gap-8">
            <div class="w-full md:w-1/2 rounded-lg overflow-hidden shadow-lg bg-zinc-700">
                <img class="object-cover w-full h-64 sm:h-80" src="<%= car.image %>" alt="<%= car.make %> <%= car.model %>">
                <div class="p-4">
                    <p class="text-white font-semibold text-lg sm:text-xl">
                        <%= car.make %> <%= car.model %>
                    </p>
                </div>
            </div>

            <div class="flex flex-col justify-between w-full md:w-1/2 bg-zinc-700 rounded-lg p-6 shadow-lg">
                <div class="space-y-2">
                    <p class="font-semibold text-xl">Car: <%= car.make %> <%= car.model %></p>
                    <p class="font-semibold text-xl">Year: <%= car.year %></p>
                    <p class="font-semibold text-xl">Color: <%= car.color %></p>
                    <p class="font-semibold text-xl">Specs:</p>
                    <ul class="pl-4 space-y-1 list-disc list-inside text-lg">
                        <li>Engine: <%= car.specs.engine %></li>
                        <li>Transmission: <%= car.specs.transmission %></li>
                        <li>Mileage: <%= car.specs.mileage %></li>
                        <li>Fuel Type: <%= car.specs.fuelType %></li>
                    </ul>
                </div>

                <div class="mt-6 flex flex-col sm:flex-row sm:items-center sm:justify-between">
                    <h1 class="text-2xl sm:text-3xl font-semibold">
                        Price: <span class="text-3xl sm:text-4xl"><%= car.pricePerDay %>/-</span>
                    </h1>

                    <% if (owned) { %>
                        <button class="bg-green-600 font-medium cursor-not-allowed text-lg sm:text-xl rounded-md px-5 py-2 mt-4 sm:mt-0 hover:bg-green-700" disabled>
                            Book Now
                        </button>
                        <div id="flash-message" class="fixed top-0 left-1/2 transform -translate-x-1/2 py-2 px-3 bg-red-500 text-white rounded-lg shadow-lg">
                            <p>You are already the Owner</p>
                        </div>
                    <% } else if (booked) { %>
                        <button class="bg-green-600 font-medium cursor-not-allowed text-lg sm:text-xl rounded-md px-5 py-2 mt-4 sm:mt-0 hover:bg-green-700" disabled>
                            Book Now
                        </button>
                        <div id="flash-message" class="fixed top-0 left-1/2 transform -translate-x-1/2 py-2 px-3 bg-green-500 text-white rounded-lg shadow-lg">
                            <p>You've already booked this car</p>
                        </div>
                    <% } else { %>
                        <button onclick="window.location.href = '/car/bookcar/<%= car._id %>'" class="bg-green-600 font-medium text-lg sm:text-xl rounded-md px-5 py-2 mt-4 sm:mt-0 hover:bg-green-700 transition-all">
                            Book Now
                        </button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- <%- include('partials/footer') %> -->
</body>
</html>
